---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="meta">
    <span class="date">
      {{ page.date | date: "%Y-%m-%d" }}
    </span>

    <ul class="tag">
      {% for tag in page.tags %}
      <li>
        <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
          {{ tag }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="entry">
    {{ content }}
  </div>
 <!-- Previous/next page: Er is iets vreemds met de previous/next page.
      Previous en next zijn omgedraaid.
      Quick fix: Linken naar previous en next verwisseld -->
  <div class="pagination">

    {% if page.previous.url %}
    
      <span class="prev" >
          <a href="{{ site.url }}{{ site.baseurl }}{{ page.next.url }}">
            &#xE000; {{ page.next.title }}
          </a>
      </span>
    {% endif %}
    {% if page.next.url %}
      <span class="next" >
          <a href="{{ site.url }}{{ site.baseurl }}{{ page.previous.url }}">
            {{ page.previous.title }} &#xE001;
          </a>
      </span>
    {% endif %}
  </div>

  {% include disqus.html %}
</article>
